@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png");
}

audio#musica{
    display: block;
    position: relative;
    left: 573px;
    top: 195px;
    height: 40px;
}

iframe#filme{
    display: block;
    position: relative;
    left: 90px;
    top: 80px;
}
